@charset "utf-8";

/*header*/
.header{
	border-bottom: solid 2px #1e90ff;
}

.header_logo{
	background-color: #1e90ff;
	width: 200px;
	height: 50px;
}

.header_logo a{
	display: block;
	text-decoration: none;
	color: white;
	text-align: center;
	vertical-align: center;
}

.tool_wrapper{
	display:table;
    border-collapse:separate;
    border-spacing: 3px 3px;　/*数字は「左右、上下」*/
    width: 60px;
    height:20px;
    margin-left: auto;
}

.tool{
	width: 60px;
	height: 20px;
	font-size: 10px;
	color: white;
	background-color: #1e90ff;
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	text-decoration: none;
}
/*header end*/

/****************************************************************/

/*memo area*/
.memo{
	width: 20%;
	border: solid 2px #1e90ff;
	float: left;
}

.memo ul li{
	list-style-type: none;
}

.memo ul li a{
	text-decoration: none;
}


/*memo area end*/

/****************************************************************/

/*contents area*/
input[type="file"]{
	display: none;
}

.contents{
	width: 53%;
	border: solid 2px #1e90ff;
	float: left;
}

/*contents area end*/

/*chat area*/

.chat{
	width: 26%;
	border: solid 2px #1e90ff;
	float: left;
}

.chat li{
	list-style-type: none;
}



/*chat area end*/

.memo p::selection{
	background-color: black;
}

